#form1{
    background-color: bisque;
}
.loc_srch{
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    width: 243px;
    height: 48px;
    position: relative;
    left: 183px;
}
.product_srch{
    border: 2px solid #030303;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    width: 588px;
    height: 48px;
    position: relative;
    top: -1px;
    left: 497px;

}
#searchicon{
    width: 22px;
    position: relative;
    left: 0px;
}
.nav_bar1{
    background-color: transparent;
    width: 100%;
    height: 74px;
}
.nav1_span{
    position: relative;
    left: 1090px;
    top: -133px;
    background-color: black;
    padding: 18px;
    border-radius: 5px;
}
.nav1_span:hover{
    cursor: pointer;
}

.nav_bar2{
    width: 100%;
    background-color: antiquewhite;
    height: 47px;
    position: relative;
    top: -20px;
}
.nav_bar2_div{
    position: relative;
    padding-left: 289px;
    top: -33px;

}
.nav_bar2_link{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: Arial;
    font-size: 15px;
}
.nav_bar2_link:hover{
    color: -webkit-link;
    cursor: pointer;
}
.footer{
    position: relative;
    top: 105em;
    width: 100%;
    height: 10em;
}
.top_footer_sub1{
    width: 128px;
    left: 149px;
    position: relative;
    height: 10em;
    top: -76px;
}
.footer_link{
    text-decoration: none;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    padding: 5px;
}
.footer_link:hover{
    color: -webkit-link;

}
.footer_heading{
    font-family: arial;
    font-size: 12px;
    position: relative;
    padding-left: 155px;
}
.footer_heading2{
    top: -25px;
    font-family: arial;
    font-size: 12px;
    position: relative;
    padding-left: 382px;
}
.footer_heading3{
    font-family: arial;
    font-size: 12px;
    width: 65px;
    position: relative;
    left: 587px;
    top: -49px;
}
.footer_heading4{
    font-family: arial;
    font-size: 12px;
    width: 28px;
    position: relative;
    left: 789px;
    top: -74px;
}
.footer_heading5{
    font-family: arial;
    font-size: 12px;
    width: 72px;
    position: relative;
    left: 87em;
    top: -576px;
}
.top_footer_sub2{
    position: relative;
    left: 379px;
    top: -235px;
    width: 89px;
}
.top_footer_sub3{
    width: 98px;
    position: relative;
    left: 580px;
    top: -328px;
}
.top_footer_sub4{
    width: 157px;
    position: relative;
    top: -444px;
    left: 49em;
}
.top_footer_icons{
    width: 5em;
    position: relative;
    top: -579px;
    left: 1034px;
}
.footer_icon{
    position: relative;
    width: 18px;
    padding: 10px
}


